.swiper-button-prev,
.swiper-button-next {
    width: 1.5rem;
    background-size: contain;
}

.swiper-button-prev {
    left: 2rem;
}

.swiper-button-next {
    right: 2rem;
}

.swiper-button-prev.--light,
.swiper-button-next.--light {
    color: #fff;
}

.swiper-pagination-bullets {
    bottom: 0 !important;

    .swiper-pagination-bullet {
        background-color: transparent;
        border: 1px solid transparent;
        position: relative;
        height: 1.4rem;
        width: 1.4rem;
        margin: 0 0.2rem !important;

        &::after {
            content: "";
            height: 0.6rem;
            width: 0.6rem;
            border-radius: 50%;
            background-color: get-color(primary);

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .swiper-pagination-bullet-active {
        border: 1px solid #bbb;
        position: relative;
        height: 1.4rem;
        width: 1.4rem;
    }
}
